<% content_for :title, "Editing friend" %>

<h1>Editing Friend</h1>

<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "Show this friend", @friend %> |
  <%= link_to "Back to Friends", friends_path %>
</div>
