<% if user_signed_in? %>
<h1>My Friends</h1>

  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th>User ID</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <%= render friend %>
      <% end %>
    </tbody>
  </table>


  <%= link_to 'New Friend', new_friend_path, class: "btn btn-success" %>
<% else %>

<h1>Hello World!</h1>
This is my first Rails Webpage...

<% end %>